<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>90</integer>
    <key>angleVariance</key>
    <integer>10</integer>
    <key>blendFuncDestination</key>
    <integer>770</integer>
    <key>blendFuncSource</key>
    <integer>1</integer>
    <key>duration</key>
    <integer>-1</integer>
    <key>emitterType</key>
    <integer>0</integer>
    <key>emissionRate</key>
    <real>16.66667</real>
    <key>finishColorAlpha</key>
    <integer>1</integer>
    <key>finishColorBlue</key>
    <integer>0</integer>
    <key>finishColorGreen</key>
    <integer>1</integer>
    <key>finishColorRed</key>
    <integer>1</integer>
    <key>finishColorVarianceAlpha</key>
    <integer>0</integer>
    <key>finishColorVarianceBlue</key>
    <integer>0</integer>
    <key>finishColorVarianceGreen</key>
    <integer>0</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>rotationStart</key>
    <integer>0</integer>
    <key>rotationStartVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>0</integer>
    <key>rotationEndVariance</key>
    <integer>0</integer>
    <key>finishParticleSize</key>
    <integer>20</integer>
    <key>finishParticleSizeVariance</key>
    <integer>20</integer>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>0</integer>
    <key>maxParticles</key>
    <integer>20</integer>
    <key>maxRadius</key>
    <integer>0</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>0</integer>
    <key>minRadiusVariance</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <real>1.2</real>
    <key>particleLifespanVariance</key>
    <real>0.8553</real>
    <key>radialAcceleration</key>
    <integer>50</integer>
    <key>radialAccelVariance</key>
    <integer>100</integer>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>sourcePositionVariancex</key>
    <integer>400</integer>
    <key>sourcePositionVariancey</key>
    <integer>10</integer>
    <key>speed</key>
    <integer>200</integer>
    <key>speedVariance</key>
    <integer>0</integer>
    <key>startColorAlpha</key>
    <integer>1</integer>
    <key>startColorBlue</key>
    <integer>0</integer>
    <key>startColorGreen</key>
    <integer>1</integer>
    <key>startColorRed</key>
    <real>0.8039216</real>
    <key>startColorVarianceAlpha</key>
    <integer>0</integer>
    <key>startColorVarianceBlue</key>
    <integer>0</integer>
    <key>startColorVarianceGreen</key>
    <integer>0</integer>
    <key>startColorVarianceRed</key>
    <integer>0</integer>
    <key>startParticleSize</key>
    <integer>30</integer>
    <key>startParticleSizeVariance</key>
    <integer>30</integer>
    <key>tangentialAcceleration</key>
    <integer>0</integer>
    <key>tangentialAccelVariance</key>
    <integer>0</integer>
    <key>textureImageData</key>
    <string>eJz7f+P/AwYBLzdPNwZGRgYGRiBk+H+bwZmBhRkEgCQLGwsQs7OysLCyc7CxsbOxcXBxcAIBBxcXDwhASHQAMoSRhZWVg52Dn4uLX4SPj08ERPCJCILlBSEUjyAPHvD/AIMgB4MkgyQzoyADkyAjsyDj/yMM0kB3soJcCwesjEwsbBzM7EBJZQEGJiYmRmZWuDwjEwMzC6sgG7uikJKhY2AhyARGoCJmZBOYWBiYGVnZQCbICoIkGZiRZBmZmFkEhVgVDf/fYuAB6mMSZBZksGc4sOXCdQMmnqVLUnVbsy9vDPDo3NNr9DSSWZ/z488PFT3h6a5FfR1FD5h+tTo9njHP7fRqk+u5Vu7bq/3az52/l6KUGyh9YY2Dwkeb5WcreV5tVpaa/ORVwYtFoebqbz7wLV0utWZO18cTWaI3wu6v4u988aNoclf+y3N3pt3rmr4pr7ZT1rDIl4//iuTxBYt1xbjMr4UHumyc6vGJUUH+zbXTouYf0sxeMhV/Y/vkYHhq1ZNlQTfMZ9wMmCRQ9cchJdlHWckj4f9NABBbfYI=</string>
  </dict>
</plist>